<!--<p>roles works!</p>-->


<!-- #region minimize1 -->
<!--<div class="row">
  <div class="col-4">
    <ul>
      <li *ngFor="let item of roleList">
        {{item.role}}
      </li>
    </ul>
  </div>
  <div class="col-4">
    <select name="" id="">
      <option *ngFor="let role of roleList" [value]="role.roleId">{{role.role}}</option>
    </select>
  </div>
  <div class="col-4">
    <button class="btn btn-warning mx-2" *ngFor="let i of roleList">
      {{i.role}}
    </button>
  </div>
</div>-->
<!-- #endregion -->

<div class="row">
  <div class="col-12">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Sr No</th>
          <th>Role Name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let x of roleList; let srNo = index">
          <td>{{srNo+1}}</td>
          <td>{{x.role}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
